/*----Variabler----*/

$bgColor: #fff;
$headerColor: #D7C1B2; /*Bruges også til blokke i main*/
$textColor: #000000;
$fontText: 'Kreon';
$goodEnding: #4C673E;
$badEnding: #CE4C4C;
$middleEnding: #f7c34a;
$buttonColor: #5A6766;
$buttontextColor:white;


/*----Mixins----*/

@mixin section($bgColor: $headerColor, $textColor: $textColor) {
    background-color: $headerColor;
    color: $textColor;
    padding: 0.8em;
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
    border-radius: 0 50px 0 50px;
    margin: 40px 20px;
}

@mixin button($bgColor: $buttonColor, $buttontextColor: $buttontextColor, $button-padding: 0.5em 1em) {
  background-color: $bgColor;
  color: $buttontextColor;
  padding: $button-padding;
  text-decoration: none;
  text-align: center;
  border-radius: 300px;
  font-family: $fontText;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 20px;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: darken($bgColor, 20%);
  }
}