/*----Variabler----*/

$bgColor: #fff;
$headerColor: #D7C1B2; /*Bruges også til bokse i main*/
$textColor: #333B21;
$fontTitle: 'Kristen ITC';
$fontText: 'Kreon';
$goodEnding: #4C673E;
$badEnding: #CE4C4C;
$middleEnding: #E99949;
$buttonColor: #BDA899;


/*----Mixins----*/
