@use 'partial';

*{
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$fontText;
}
//-------------------------------------- Header --------------------------------------
header{
    background-color: partial.$headerColor;
    margin-bottom: 15px;

    nav{
        display: flex;
        justify-content: space-between;
        

            .logo{
                width: 90px;
                height: auto;
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 40px;
                font-family: partial.$fontText;
                margin-top: 1.3em;
                margin-right: 3em;
                font-size: 25px;

                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
    }
}
//-------------------------------------- Hovedindhold --------------------------------------
.hero{
    width: 100%;
    height: auto;
}

section{
    @include partial.section;
    display: none;

    &.active{
        display: block;
    }
}

button{
    @include partial.button;
}

.startknap{
    @include partial.button(partial.$goodEnding, #fff);
}

.overskrift{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    line-height: 1em;
}

.good{

    text-align: center;
    background-color: partial.$goodEnding;
    color: #fff;

        i{
            font-size: 50px;
            padding: 0.4em;
        }

        p{
            padding: 1em 0.2em;
        }
}

.bad{
    text-align: center;
    background-color: partial.$badEnding;

    i{
        font-size: 50px;
        padding: 0.4em;
    }

    p{
        padding: 1em 0.2em;
    }
}

.warning{
    text-align: center;
    background-color: #fff;
    border: solid;
    
    i{
        font-size: 70px;
        padding: 0.2em;
    }

    button{
        background-color: partial.$middleEnding;
    }
}

.semi{

  text-align: center;
    background-color: partial.$middleEnding;

    i{
        font-size: 50px;
        padding: 0.4em;
    }

    p{
        padding: 1em 0.2em;
    }
}

//-------------------------------------- Footer --------------------------------------

footer:nth-of-type(1){
    grid-column: 1/6;
    background-color: partial.$headerColor;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    padding: 1.3em;
    text-align: center;

    a{
        font-size: 40px;
    }
}

footer:nth-of-type(2){
    grid-column: 1/6;
    background-color: partial.$buttonColor;
    text-align: center;

        .footer-p{
            font-size: 20px;
            padding: 0.5em 0;
        }
}

//----------------------- Desktop

@media screen and (min-width: 769px) and (max-width: 1920px){
    
    .hero{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        opacity: 80%;
        position: relative;
        margin-bottom: 1em;
    }

    .start{
        position: absolute;
        bottom: 8%;
        left: 25%;
        width: 50%;
        z-index: 2;
    }

    main{
        width: 70%;
        display: flex;
        justify-self: center;

        .scenario{
            margin: 0 auto 1em auto;
        }

    }
}