@use 'partial';

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: partial.$headerColor;
    margin-bottom: 15px;

    nav{
        display: flex;
        justify-content: space-between;
        

            .logo{
                width: 90px;
                height: auto;
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 40px;
                font-family: partial.$fontText;
                margin-top: 1.3em;
                margin-right: 3em;
                font-size: 25px;

                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
    }
}

.hero{
    width: 100%;
    height: auto;
}

section{
    @include partial.section;
    display: none;

    &.active{
        display: block;
    }
}

button{
    @include partial.button;
}

 .startknap{
    @include partial.button(partial.$goodEnding, #fff);
}

.overskrift{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    line-height: 1em;
}

.good{

text-align: center;
background-color: partial.$goodEnding;
color: #fff;

    i{
        font-size: 40px;
        padding: 0.4em;
    }

    h3{
        text-align: center;
        font-size: 60px;
        padding: 0.4em;
    }

    p{
        padding: 1em 0.2em;
    }
}

