@use 'partial';

*{
    box-sizing: border-box;
    margin: 0;
}
//-------------------------------------- Header --------------------------------------
header{
    background-color: partial.$headerColor;
    margin-bottom: 15px;

    nav{
        display: flex;
        justify-content: space-between;
        

            .logo{
                width: 90px;
                height: auto;
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 40px;
                font-family: partial.$fontText;
                margin-top: 1.3em;
                margin-right: 3em;
                font-size: 25px;

                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
    }
}
//-------------------------------------- Hovedindhold --------------------------------------
.hero{
    width: 100%;
    height: auto;
}

section{
    @include partial.section;
    display: none;

    &.active{
        display: block;
    }
}

button{
    @include partial.button;
}

.startknap{
    @include partial.button(partial.$goodEnding, #fff);
}

.overskrift{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    line-height: 1em;
}

.good{

    text-align: center;
    background-color: partial.$goodEnding;
    color: #fff;

        i{
            font-size: 40px;
            padding: 0.4em;
        }

        p{
            padding: 1em 0.2em;
        }
}

.bad{
    text-align: center;
    background-color: partial.$badEnding;

    i{
        font-size: 40px;
        padding: 0.4em;
    }

    p{
        padding: 1em 0.2em;
    }
}


//-------------------------------------- Footer --------------------------------------

footer:nth-of-type(1){
    grid-column: 1/6;
    background-color: partial.$headerColor;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    padding: 1.3em;
    text-align: center;

    a{
        font-size: 40px;
    }
}

footer:nth-of-type(2){
    grid-column: 1/6;
    background-color: partial.$buttonColor;
    text-align: center;

        .footer-p{
            font-size: 20px;
            padding: 0.5em 0;
        }
}